In [16]:
import pandas as pd
import scipy
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import util as C
reload(C)
%matplotlib inline

# 导出所有可用的Channels

In [4]:
channel_helper = C.ChannelHelper()

In [7]:
%%time
# channel_helper.dump_meta_data()

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 21 µs

In [6]:
%%time
channel_helper.load_meta_data()

CPU times: user 11.7 s, sys: 688 ms, total: 12.4 s
Wall time: 12.3 s

# 导出用户订阅数据
用户信息包括国家，语言，机型

In [8]:
user_helper = C.UserHelper(channel_helper)

In [11]:
# 30m ~ 1h to export all

In [12]:
%%time
# user_helper.dump_subs()

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 7.87 µs

In [13]:
%%time
df = user_helper.load_subs_df()

CPU times: user 9.47 s, sys: 732 ms, total: 10.2 s
Wall time: 10.2 s

In [14]:
df.head(3)

   cn lang      br           cs
0  JP   ja  DOCOMO        75404
1  CN   zh  google  3624+375975
2  US   en  Xiaomi       431972

In [ ]:
channel_subs = C.get_channel_subs(df)

In [17]:
user_helper.pick_decent_channels(channel_subs)

# of decent channels = 137344

In [18]:
%%time
idx_df = user_helper.make_idx_df(df)

CPU times: user 1min 33s, sys: 1.17 s, total: 1min 34s
Wall time: 1min 34s

In [19]:
for f in ('cn', 'lang', 'br'):
    idx_df[f] = idx_df[f].str.lower()

In [20]:
idx_df.drop_duplicates(inplace=True)

In [21]:
idx_df.shape, df.shape

((4609357, 4), (11230195, 4))

In [22]:
idx_df.head(3)

   cn lang      br           cs
0  jp   ja  docomo        48285
1  cn   zh  google  2781+115474
2  us   en  xiaomi        97197

In [23]:
user_helper.save_subs_idx_df(idx_df)

In [25]:
!head data/user_subs_idx.csv

cn,lang,br,cs
jp,ja,docomo,48285
cn,zh,google,2781+115474
us,en,xiaomi,97197
cn,en,google,9781+123162
us,en,verizon,5307+43037
us,en,verizon,1473+27682
co,es,samsung,127010
se,sv,samsung,94017+94023+130739
fr,fr,motorola,11377+17724+20944+25458+25462+25465+25466+25492+25773+26634+63351+86528+106959+127278

In [26]:
idx_df2 = user_helper.load_subs_idx_df()

In [27]:
idx_df2.head(3)

   cn lang      br           cs
0  jp   ja  docomo        48285
1  cn   zh  google  2781+115474
2  us   en  xiaomi        97197

# 导出Everest订阅数据

In [29]:
%%time
# user_helper.dump_evst_subs()

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 11.2 µs

In [31]:
evst_df = user_helper.load_evst_subs_df()

In [32]:
evst_df.head(3)

,uid,cs
0,d4ef183e7b34430f91707dfec7e12dd1,15554
1,6c6e4d6f97904e018b06643032d4e85d,499+3175+4382+7826+19416+112984+340105+378324+...
2,726554550003492895e92395a8ef8943,4541+15553+15740+223527+319292+322904+346750+3...

In [33]:
%%time
evst_idx_df = user_helper.make_idx_df(evst_df)

CPU times: user 17.8 s, sys: 16 ms, total: 17.9 s
Wall time: 17.8 s

In [34]:
evst_idx_df.drop_duplicates(inplace=True)

In [35]:
evst_idx_df.head(3)

,uid,cs
0,d4ef183e7b34430f91707dfec7e12dd1,11414
1,6c6e4d6f97904e018b06643032d4e85d,399+2465+3308+5950+13798+49689+69215+71013+105...
2,726554550003492895e92395a8ef8943,3421+11413+11554+26353+38381+40442+52917+67079...

In [36]:
evst_df.shape, evst_idx_df.shape

((1884585, 2), (1884585, 2))

In [37]:
user_helper.save_evst_subs_idx_df(evst_idx_df)

In [39]:
!head data/evst_user_subs_idx.csv

uid,cs
d4ef183e7b34430f91707dfec7e12dd1,11414
6c6e4d6f97904e018b06643032d4e85d,399+2465+3308+5950+13798+49689+69215+71013+105196+115533+117436+119004+121839
726554550003492895e92395a8ef8943,3421+11413+11554+26353+38381+40442+52917+67079+70497+72194+82265+85399+95841+99133+99136+99145+99146+99148+99151+99152+105480+110080+117436+120454+121522+135707+135741
a6f4e9f5b5234047a43ae17dc5a81ced,408+9894+11414+26359+83027+97992+122177+123162
c3cc1d597cc34d65bc341446040f33d8,11414
2a9c67702e224ce8a31b7b1c761e59b8,11414+78912
3e3ac74c1d6a40728b8c82c6e71d0397,11881+13335+23830
bebc312f4a05442abd53d16ea774662c,80757+87949+92862+97197+113213+117436
809a7cb5e11e4874ace857726bfaeeee,11414+73385+83027

In [40]:
evst_idx_df2 = user_helper.load_evst_subs_idx_df()

In [41]:
evst_idx_df2.head(3)

,uid,cs
0,d4ef183e7b34430f91707dfec7e12dd1,11414
1,6c6e4d6f97904e018b06643032d4e85d,399+2465+3308+5950+13798+49689+69215+71013+105...
2,726554550003492895e92395a8ef8943,3421+11413+11554+26353+38381+40442+52917+67079...